ul.navbar-nav a {
  text-decoration: none;
  margin: 0 10px 0 20px;
  color: #e0e0e0;
  
}

ul.navbar-nav a:hover {
  color: lightblue;
}

#logo{
    width: 30px;
    height: 30px;
    margin: 10px;
    box-shadow: -5px 1px 50px 1px  darkgreen;
    border-radius: 5px;
}
